html, body
	height: 100%

body
	overflow-y: scroll
	font-family: $font_base
	font-size: $font_base_size
	color: $text_color
	background: url(../img/bg_image.jpg)

a
	outline: none
	color: inherit
	text-decoration: none

img
	width: 100%
	height: auto
	outline: none

.wrapper
	display: table
	height: 100%
	width: 100%

.content
	display: table-row
	height: 100%