html, body
	height: 100%

body
	font-family: $font_base
	font-size: $font_base_size
	color: $text_color
	background: url(../img/bg_image.jpg)

a
	outline: none
	color: inherit
	text-decoration: none

img
	width: 100%
	height: auto
	outline: none

.wrapper
	height: 100%
	display: flex
	flex-direction: column

.content
	flex-grow: 1